<header class="header">
    <div class="wrapper">
        <img [src]="logoSrc" type="image/png" alt="logo">
        <nav class="menu">
            @for(item of navigationItems; track item) {
                <li><a class='menuItem' href="#">{{item}}</a></li>
            }
        </nav>

        <div class="menu-burger">
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="menu-list">
                @for(item of navigationItems; track item) {
                    <li><a class='menuItem' href="#">{{item}}</a></li>
                }
            </ul>
        </div>
    </div>
</header>