:host {
  width: 80%;
}
input {
  width: 100%;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(185, 145, 80);
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(185, 145, 80);
  opacity: 1;
}

small {
  color: red;
}

button {
  width: 100%;
  padding: 20px 0;
  border: none;
  background-color: rgb(255, 175, 24);
  font-weight: bold;
  cursor: pointer;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close {
  cursor: pointer;
  float: right;
}

@media (max-width: 1000px) {
  :host {
    margin-top: 30px;
  }
}
