<div class="advantages">
    <div class="left-block">
        <app-description [titles]="titles.Advantages" [content]="contentForAdvantages"></app-description>
        <button>Выбрать пиццу</button>
    </div>
    <div class="right-block">
        <img [src]="'./assets/img/bacon-and-grill.png'" alt="">
    </div>
</div>
<div class="choose-pizza">
    
</div>
<div class="form-group">
    <app-description [titles]="titles.FormGroup" [content]="contentForFormGroup"></app-description>
</div>

