$standartGap: 25px;

.advantages-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $standartGap;
}
.advantages {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: $standartGap;
    margin-bottom: $standartGap*6;
}

.left-block{
    max-width: $standartGap*24;
    flex: 1;
}

.right-block {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20vw;
    overflow: hidden;
    flex: 0 0 auto;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button {
    color: black;
    padding: 20px 45px;
    font-weight: 700;
    background-color:  rgb(255, 175, 24);
    border: none;
    cursor: pointer;
}

.choose-pizza {
    display: flex;
    margin-bottom: $standartGap*6;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
